## Reformat geolookup-mso_stev_ham.csv 
* to include columns [id, lat, lon, neighborhood, city]
* remove rows with no data (no data list generated previous while querying wunderground api)
* geolookup-mso_stev_ham.csv : [hosted here](https://drive.google.com/open?id=1qnqq6sobFEaaqdUYL6V1g_8M_470borJ4-E6EUeieDY)

In [2]:
import pandas as pd

In [5]:
filename = "../output/geolookup-mso_stev_ham.csv"

In [6]:
df = pd.read_csv(filename)

In [42]:
df.head()

,city,country,distance_km,distance_mi,id,lat,lon,neighborhood,state
0,Corvallis,US,9,5,KMTCORVA9,46.277557,-114.045059,Hamilton Heights,MT
1,Corvallis,US,5,3,KMTCORVA10,46.284927,-114.106499,All View Lane,MT
2,Corvallis,US,6,3,KMTCORVA23,46.273411,-114.086159,corvallis orchard,MT
3,Corvallis,US,11,6,KMTCORVA12,46.323433,-114.058075,Soft Rock,MT
4,Corvallis,US,7,4,KMTCORVA15,46.314114,-114.119720,Corvallis - West Edge of Town,MT

In [8]:
# select columns from geolookup-mso_stev_ham.csv for new df
new_df = df[['id', 'lat', 'lon', 'neighborhood', 'city']].copy()

In [30]:
# station ids with null data
no_data = ['KMTCORVA23', 'KMTCORVA21', 'KMTFLORE1', 'KMTFLORE12', 'KMTLOLO8', 'KMTMISSO62', 'KMTMISSO74', 'KMTSTEVE16']

In [31]:
# remove rows with no history data
for x in no_data:
    new_df = new_df[new_df.id != x]

In [37]:
new_df = new_df.reset_index(drop=True)

In [44]:
new_df.head()

           id        lat         lon                   neighborhood       city
0   KMTCORVA9  46.277557 -114.045059               Hamilton Heights  Corvallis
1  KMTCORVA10  46.284927 -114.106499                  All View Lane  Corvallis
2  KMTCORVA12  46.323433 -114.058075                      Soft Rock  Corvallis
3  KMTCORVA15  46.314114 -114.119720  Corvallis - West Edge of Town  Corvallis
4   KMTFLORE4  46.716743 -114.007782         MPG Ranch - Baldy Draw   Florence

In [39]:
save_as = '../output/weather_monitoring-locations.csv'

In [41]:
new_df.to_csv(save_as, index=False)