### Resample to 30 and 60 minutes

In [3]:
import pandas as pd

In [17]:
# import csv
df = pd.read_csv('../output/mesowest-weather_night-2017_001.csv',\
                 parse_dates=['local_datetime', 'utc_date'])

In [18]:
# set column to be timezone aware
df['local_datetime'] = df.loc[:, 'local_datetime']\
                        .dt.tz_localize('utc')\
                        .dt.tz_convert('US/Mountain')

In [21]:
# set index to local time
df = df.set_index('local_datetime')

#### Resample to 30 minutes

In [31]:
# group by station column to keep timelines together and resample to 30m
df_30m = df.groupby('Station_ID').resample('30min').bfill()

In [35]:
# drop column which is currently duplicate of multiIndex
df_30m = df_30m.drop(['Station_ID'], axis=1)

In [42]:
# reset dataframe for export
df_30m = df_30m.reset_index()

In [45]:
df_30m.head(4)

,Station_ID,local_datetime,utc_date,air_temp_set_1,relative_humidity_set_1,wind_speed_set_1,wind_direction_set_1,wind_gust_set_1,peak_wind_speed_set_1,peak_wind_direction_set_1,dew_point_temperature_set_1d,wind_chill_set_1d,wind_cardinal_direction_set_1d,heat_index_set_1d
0,DEEM8,2017-06-30 23:00:00-06:00,2017-07-01 05:06:00,57.99,46.0,4.33,360.0,12.17,12.17,17.0,37.18,NaN,N,NaN
1,DEEM8,2017-06-30 23:30:00-06:00,2017-07-01 06:06:00,57.99,43.0,7.81,340.0,11.29,11.29,331.0,35.46,NaN,NNW,NaN
2,DEEM8,2017-07-01 00:00:00-06:00,2017-07-01 06:06:00,57.99,43.0,7.81,340.0,11.29,11.29,331.0,35.46,NaN,NNW,NaN
3,DEEM8,2017-07-01 00:30:00-06:00,2017-07-01 07:06:00,57.00,42.0,7.81,321.0,12.17,12.17,349.0,33.97,NaN,NW,NaN

#### Resample to 60 mintues

In [46]:
# group by station column to keep timelines together and resample to 30m
df_60m = df.groupby('Station_ID').resample('60min').bfill()

In [49]:
# drop column which is currently duplicate of multiIndex
df_60m = df_60m.drop(['Station_ID'], axis=1)

In [51]:
# reset dataframe for export
df_60m = df_60m.reset_index()

In [53]:
df_60m.head(4)

,Station_ID,local_datetime,utc_date,air_temp_set_1,relative_humidity_set_1,wind_speed_set_1,wind_direction_set_1,wind_gust_set_1,peak_wind_speed_set_1,peak_wind_direction_set_1,dew_point_temperature_set_1d,wind_chill_set_1d,wind_cardinal_direction_set_1d,heat_index_set_1d
0,DEEM8,2017-06-30 23:00:00-06:00,2017-07-01 05:06:00,57.99,46.0,4.33,360.0,12.17,12.17,17.0,37.18,NaN,N,NaN
1,DEEM8,2017-07-01 00:00:00-06:00,2017-07-01 06:06:00,57.99,43.0,7.81,340.0,11.29,11.29,331.0,35.46,NaN,NNW,NaN
2,DEEM8,2017-07-01 01:00:00-06:00,2017-07-01 07:06:00,57.00,42.0,7.81,321.0,12.17,12.17,349.0,33.97,NaN,NW,NaN
3,DEEM8,2017-07-01 02:00:00-06:00,2017-07-01 08:06:00,57.00,45.0,5.21,325.0,9.56,9.56,321.0,35.71,NaN,NW,NaN

In [168]:
# output results
df_30m.to_csv('../output/mesowest-weather_night-2017_30m_002.csv', index=False)
df_60m.to_csv('../output/mesowest-weather_night-2017_60m_003.csv', index=False)