# Temperature
* source MPG Orchard House machine

In [60]:
import pandas as pd

In [61]:
# /Users/esamsoe/Google Drive/MPG Ranch/Weather Data/Orchard House Archive
src = 'src/orchard_house-export-full_history_001-190422.csv'

In [62]:
df = pd.read_csv(src, parse_dates=['Date Time '])

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200790 entries, 0 to 200789
Data columns (total 44 columns):
Day of the Week                      200790 non-null object
Date Time                            200790 non-null object
Outside Temperature TX1 (°F)         186572 non-null float64
High Outside Temperature TX1 (°F)    186906 non-null float64
Low Outside Temperature TX1 (°F)     186906 non-null float64
Wind Speed TX1 (mph)                 186726 non-null float64
High Wind Speed TX1 (mph)            200790 non-null float64
Rain Amount TX1 (in)                 200790 non-null float64
High Rain Rate TX1 (in/hr)           200790 non-null float64
Outside Temperature TX2 (°F)         175416 non-null float64
High Outside Temperature TX2 (°F)    177276 non-null float64
Low Outside Temperature TX2 (°F)     177276 non-null float64
Wind Speed TX2 (mph)                 176900 non-null float64
High Wind Speed TX2 (mph)            200790 non-null float64
Rain Amount TX2 (in)                 200790 non-null float64
High Rain Rate TX2 (in/hr)           200790 non-null float64
Outside Temperature TX3 (°F)         175100 non-null float64
High Outside Temperature TX3 (°F)    176606 non-null float64
Low Outside Temperature TX3 (°F)     176606 non-null float64
Wind Speed TX3 (mph)                 176359 non-null float64
High Wind Speed TX3 (mph)            200790 non-null float64
Rain Amount TX3 (in)                 200790 non-null float64
High Rain Rate TX3 (in/hr)           200790 non-null float64
Outside Temperature TX4 (°F)         187560 non-null float64
High Outside Temperature TX4 (°F)    187806 non-null float64
Low Outside Temperature TX4 (°F)     187806 non-null float64
Wind Speed TX4 (mph)                 187729 non-null float64
High Wind Speed TX4 (mph)            200790 non-null float64
Rain Amount TX4 (in)                 200790 non-null float64
High Rain Rate TX4 (in/hr)           200790 non-null float64
Outside Temperature TX5 (°F)         200761 non-null float64
High Outside Temperature TX5 (°F)    200763 non-null float64
Low Outside Temperature TX5 (°F)     200763 non-null float64
Wind Speed TX5 (mph)                 200760 non-null float64
High Wind Speed TX5 (mph)            200790 non-null float64
Rain Amount TX5 (in)                 200790 non-null float64
High Rain Rate TX5 (in/hr)           200790 non-null float64
Outside Temperature TX6 (°F)         182548 non-null float64
High Outside Temperature TX6 (°F)    183349 non-null float64
Low Outside Temperature TX6 (°F)     183349 non-null float64
Wind Speed TX6 (mph)                 183091 non-null float64
High Wind Speed TX6 (mph)            198485 non-null float64
Rain Amount TX6 (in)                 198485 non-null float64
High Rain Rate TX6 (in/hr)           198485 non-null float64
dtypes: float64(42), object(2)
memory usage: 67.4+ MB

In [63]:
# take space out of Date Time column name
df.rename(columns = {'Date Time ':'datetime'}, inplace=True)

In [30]:
df.columns.tolist()

['Day of the Week ',
 'datetime',
 'Outside Temperature TX1 (°F)',
 'High Outside Temperature TX1 (°F)',
 'Low Outside Temperature TX1 (°F)',
 'Wind Speed TX1 (mph)',
 'High Wind Speed TX1 (mph)',
 'Rain Amount TX1 (in)',
 'High Rain Rate TX1 (in/hr)',
 'Outside Temperature TX2 (°F)',
 'High Outside Temperature TX2 (°F)',
 'Low Outside Temperature TX2 (°F)',
 'Wind Speed TX2 (mph)',
 'High Wind Speed TX2 (mph)',
 'Rain Amount TX2 (in)',
 'High Rain Rate TX2 (in/hr)',
 'Outside Temperature TX3 (°F)',
 'High Outside Temperature TX3 (°F)',
 'Low Outside Temperature TX3 (°F)',
 'Wind Speed TX3 (mph)',
 'High Wind Speed TX3 (mph)',
 'Rain Amount TX3 (in)',
 'High Rain Rate TX3 (in/hr)',
 'Outside Temperature TX4 (°F)',
 'High Outside Temperature TX4 (°F)',
 'Low Outside Temperature TX4 (°F)',
 'Wind Speed TX4 (mph)',
 'High Wind Speed TX4 (mph)',
 'Rain Amount TX4 (in)',
 'High Rain Rate TX4 (in/hr)',
 'Outside Temperature TX5 (°F)',
 'High Outside Temperature TX5 (°F)',
 'Low Outside Temperature TX5 (°F)',
 'Wind Speed TX5 (mph)',
 'High Wind Speed TX5 (mph)',
 'Rain Amount TX5 (in)',
 'High Rain Rate TX5 (in/hr)',
 'Outside Temperature TX6 (°F)',
 'High Outside Temperature TX6 (°F)',
 'Low Outside Temperature TX6 (°F)',
 'Wind Speed TX6 (mph)',
 'High Wind Speed TX6 (mph)',
 'Rain Amount TX6 (in)',
 'High Rain Rate TX6 (in/hr)']

In [64]:
# set index to datetime
df = df.set_index('datetime')

In [65]:
# build temperature column list
select_temp = [
    'Day of the Week ',
    'Outside Temperature TX1 (°F)',
    'High Outside Temperature TX1 (°F)',
    'Low Outside Temperature TX1 (°F)',
    'Outside Temperature TX2 (°F)',
    'High Outside Temperature TX2 (°F)',
    'Low Outside Temperature TX2 (°F)',
    'Outside Temperature TX3 (°F)',
    'High Outside Temperature TX3 (°F)',
    'Low Outside Temperature TX3 (°F)',
    'Outside Temperature TX4 (°F)',
    'High Outside Temperature TX4 (°F)',
    'Low Outside Temperature TX4 (°F)',
    'Outside Temperature TX5 (°F)',
    'High Outside Temperature TX5 (°F)',
    'Low Outside Temperature TX5 (°F)',
    'Outside Temperature TX6 (°F)',
    'High Outside Temperature TX6 (°F)',
    'Low Outside Temperature TX6 (°F)'
 ]

In [66]:
# select for temperature columns
temp = df.loc[:, select_temp].copy()

In [67]:
temp.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 200790 entries, 2012-06-19 16:00:00 to 2019-04-21 17:00:00
Data columns (total 19 columns):
Day of the Week                      200790 non-null object
Outside Temperature TX1 (°F)         186572 non-null float64
High Outside Temperature TX1 (°F)    186906 non-null float64
Low Outside Temperature TX1 (°F)     186906 non-null float64
Outside Temperature TX2 (°F)         175416 non-null float64
High Outside Temperature TX2 (°F)    177276 non-null float64
Low Outside Temperature TX2 (°F)     177276 non-null float64
Outside Temperature TX3 (°F)         175100 non-null float64
High Outside Temperature TX3 (°F)    176606 non-null float64
Low Outside Temperature TX3 (°F)     176606 non-null float64
Outside Temperature TX4 (°F)         187560 non-null float64
High Outside Temperature TX4 (°F)    187806 non-null float64
Low Outside Temperature TX4 (°F)     187806 non-null float64
Outside Temperature TX5 (°F)         200761 non-null float64
High Outside Temperature TX5 (°F)    200763 non-null float64
Low Outside Temperature TX5 (°F)     200763 non-null float64
Outside Temperature TX6 (°F)         182548 non-null float64
High Outside Temperature TX6 (°F)    183349 non-null float64
Low Outside Temperature TX6 (°F)     183349 non-null float64
dtypes: float64(18), object(1)
memory usage: 30.6+ MB

In [42]:
temp.describe()

,Outside Temperature TX1 (°F),High Outside Temperature TX1 (°F),Low Outside Temperature TX1 (°F),Outside Temperature TX2 (°F),High Outside Temperature TX2 (°F),Low Outside Temperature TX2 (°F),Outside Temperature TX3 (°F),High Outside Temperature TX3 (°F),Low Outside Temperature TX3 (°F),Outside Temperature TX4 (°F),High Outside Temperature TX4 (°F),Low Outside Temperature TX4 (°F),Outside Temperature TX5 (°F),High Outside Temperature TX5 (°F),Low Outside Temperature TX5 (°F),Outside Temperature TX6 (°F),High Outside Temperature TX6 (°F),Low Outside Temperature TX6 (°F)
count,186572.000000,186906.000000,186906.000000,175416.000000,177276.000000,177276.000000,175100.000000,176606.000000,176606.000000,187560.000000,187806.000000,187806.000000,200761.000000,200763.000000,200763.000000,182548.000000,183349.000000,183349.000000
mean,43.872572,44.165343,43.593228,50.894505,51.073001,50.360279,51.955684,52.206327,51.376348,47.739902,48.073434,47.421189,51.239373,51.654542,50.837336,49.211314,49.647473,48.838365
std,17.898836,17.931567,17.861834,16.659603,16.863081,16.840026,16.991267,17.218542,17.156842,18.113012,18.134792,18.091779,19.864849,19.866180,19.855418,18.181191,18.252301,18.230760
min,-18.900000,-18.500000,-19.000000,-13.500000,-13.400000,-13.800000,-14.700000,-14.700000,-15.700000,-15.000000,-14.400000,-15.600000,-19.100000,-18.200000,-19.600000,-15.400000,-15.400000,-90.000000
25%,30.100000,30.300000,29.800000,37.900000,38.100000,37.300000,38.700000,38.900000,38.100000,33.900000,34.300000,33.600000,36.300000,36.800000,35.900000,35.600000,36.100000,35.200000
50%,43.400000,43.700000,43.100000,51.200000,51.400000,50.800000,51.400000,51.700000,50.900000,47.600000,47.900000,47.300000,51.300000,51.700000,50.900000,49.800000,50.200000,49.400000
75%,58.500000,58.800000,58.200000,64.200000,64.500000,63.800000,64.700000,65.100000,64.100000,62.200000,62.600000,61.900000,65.900000,66.300000,65.500000,63.200000,63.700000,62.900000
max,91.200000,92.100000,91.000000,95.400000,158.000000,95.400000,98.900000,99.100000,97.700000,95.200000,158.000000,94.200000,100.800000,100.900000,100.000000,158.000000,158.000000,158.000000

In [68]:
temp.columns.tolist()

['Day of the Week ',
 'Outside Temperature TX1 (°F)',
 'High Outside Temperature TX1 (°F)',
 'Low Outside Temperature TX1 (°F)',
 'Outside Temperature TX2 (°F)',
 'High Outside Temperature TX2 (°F)',
 'Low Outside Temperature TX2 (°F)',
 'Outside Temperature TX3 (°F)',
 'High Outside Temperature TX3 (°F)',
 'Low Outside Temperature TX3 (°F)',
 'Outside Temperature TX4 (°F)',
 'High Outside Temperature TX4 (°F)',
 'Low Outside Temperature TX4 (°F)',
 'Outside Temperature TX5 (°F)',
 'High Outside Temperature TX5 (°F)',
 'Low Outside Temperature TX5 (°F)',
 'Outside Temperature TX6 (°F)',
 'High Outside Temperature TX6 (°F)',
 'Low Outside Temperature TX6 (°F)']

In [69]:
temp.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 200790 entries, 2012-06-19 16:00:00 to 2019-04-21 17:00:00
Data columns (total 19 columns):
Day of the Week                      200790 non-null object
Outside Temperature TX1 (°F)         186572 non-null float64
High Outside Temperature TX1 (°F)    186906 non-null float64
Low Outside Temperature TX1 (°F)     186906 non-null float64
Outside Temperature TX2 (°F)         175416 non-null float64
High Outside Temperature TX2 (°F)    177276 non-null float64
Low Outside Temperature TX2 (°F)     177276 non-null float64
Outside Temperature TX3 (°F)         175100 non-null float64
High Outside Temperature TX3 (°F)    176606 non-null float64
Low Outside Temperature TX3 (°F)     176606 non-null float64
Outside Temperature TX4 (°F)         187560 non-null float64
High Outside Temperature TX4 (°F)    187806 non-null float64
Low Outside Temperature TX4 (°F)     187806 non-null float64
Outside Temperature TX5 (°F)         200761 non-null float64
High Outside Temperature TX5 (°F)    200763 non-null float64
Low Outside Temperature TX5 (°F)     200763 non-null float64
Outside Temperature TX6 (°F)         182548 non-null float64
High Outside Temperature TX6 (°F)    183349 non-null float64
Low Outside Temperature TX6 (°F)     183349 non-null float64
dtypes: float64(18), object(1)
memory usage: 30.6+ MB

In [70]:
# rename columns
temp.columns = [
    'Day of the Week ',
    'Outside Temperature Baldy Summit (°F)',
    'High Outside Temperature Baldy Summit (°F)',
    'Low Outside Temperature Baldy Summit (°F)',
    'Outside Temperature Baldy Draw (°F)',
    'High Outside Temperature Baldy Draw (°F)',
    'Low Outside Temperature Baldy Draw (°F)',
    'Outside Temperature Sanfoin Bench (°F)',
    'High Outside Temperature Sanfoin Bench (°F)',
    'Low Outside Temperature Sanfoin Bench (°F)',
    'Outside Temperature South Baldy (°F)',
    'High Outside Temperature South Baldy (°F)',
    'Low Outside Temperature South Baldy (°F)',
    'Outside Temperature Orchard House (°F)',
    'High Outside Temperature Orchard House (°F)',
    'Low Outside Temperature Orchard House (°F)',
    'Outside Temperature Indian Ridge (°F)',
    'High Outside Temperature Indian Ridge (°F)',
    'Low Outside Temperature Indian Ridge (°F)',
 ]

In [109]:
temp.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 200790 entries, 2012-06-19 16:00:00 to 2019-04-21 17:00:00
Data columns (total 19 columns):
Day of the Week                                200790 non-null object
Outside Temperature Baldy Summit (°F)          186572 non-null float64
High Outside Temperature Baldy Summit (°F)     186906 non-null float64
Low Outside Temperature Baldy Summit (°F)      186906 non-null float64
Outside Temperature Baldy Draw (°F)            175416 non-null float64
High Outside Temperature Baldy Draw (°F)       177276 non-null float64
Low Outside Temperature Baldy Draw (°F)        177276 non-null float64
Outside Temperature Sanfoin Bench (°F)         175100 non-null float64
High Outside Temperature Sanfoin Bench (°F)    176606 non-null float64
Low Outside Temperature Sanfoin Bench (°F)     176606 non-null float64
Outside Temperature South Baldy (°F)           187560 non-null float64
High Outside Temperature South Baldy (°F)      187806 non-null float64
Low Outside Temperature South Baldy (°F)       187806 non-null float64
Outside Temperature Orchard House (°F)         200761 non-null float64
High Outside Temperature Orchard House (°F)    200763 non-null float64
Low Outside Temperature Orchard House (°F)     200763 non-null float64
Outside Temperature Indian Ridge (°F)          182548 non-null float64
High Outside Temperature Indian Ridge (°F)     183349 non-null float64
Low Outside Temperature Indian Ridge (°F)      183349 non-null float64
dtypes: float64(18), object(1)
memory usage: 35.6+ MB

In [110]:
output = 'output/orchard_house-temp_hourly.csv'
temp.to_csv(output)

In [100]:
temp_daily_mean = temp.groupby(pd.Grouper(freq='D')).mean().round(1)

In [101]:
temp_daily_mean = temp_daily_mean[[
    'Outside Temperature Baldy Summit (°F)',
    'Outside Temperature Baldy Draw (°F)',
    'Outside Temperature Sanfoin Bench (°F)',
    'Outside Temperature South Baldy (°F)',
    'Outside Temperature Orchard House (°F)',
    'Outside Temperature Indian Ridge (°F)',
 ]
]

In [103]:
output = 'output/orchard_house-temp_daily_mean.csv'
temp_daily_mean.to_csv(output)

In [102]:
temp_daily_mean

,Outside Temperature Baldy Summit (°F),Outside Temperature Baldy Draw (°F),Outside Temperature Sanfoin Bench (°F),Outside Temperature South Baldy (°F),Outside Temperature Orchard House (°F),Outside Temperature Indian Ridge (°F)
datetime,,,,,,
2012-06-19,56.1,63.1,NaN,60.8,67.5,NaN
2012-06-20,52.0,55.6,NaN,55.6,55.1,NaN
2012-06-21,61.7,74.5,77.7,66.7,78.0,NaN
2012-06-22,61.9,68.5,68.2,64.1,69.9,NaN
2012-06-23,61.9,67.9,69.0,64.3,70.0,NaN
2012-06-24,61.3,65.4,69.0,60.4,71.6,NaN
2012-06-25,59.5,67.3,70.2,62.6,74.4,NaN
2012-06-26,43.8,55.9,60.4,50.8,61.2,NaN
2012-06-27,46.5,55.2,58.1,51.7,58.5,NaN
2012-06-28,52.6,62.2,61.7,55.3,65.4,76.6
2012-06-29,57.6,66.3,66.2,62.5,67.3,67.0
2012-06-30,56.6,65.0,66.1,60.0,70.7,66.0
2012-07-01,56.5,63.7,67.9,61.5,68.3,66.2
2012-07-02,54.6,64.2,65.7,58.8,68.0,65.5
2012-07-03,52.6,61.4,63.9,57.1,64.7,63.0
2012-07-04,48.1,60.2,61.4,52.6,61.6,59.8
2012-07-05,56.0,62.7,64.3,57.7,67.7,63.9
2012-07-06,59.4,65.9,65.6,62.1,71.8,64.6
2012-07-07,63.3,70.3,68.0,65.1,73.0,69.6
2012-07-08,NaN,71.4,68.6,66.0,76.2,70.6
2012-07-09,67.5,73.7,70.8,NaN,75.6,73.2
2012-07-10,NaN,70.7,69.1,72.2,75.7,69.9
2012-07-11,65.7,70.9,67.1,67.8,74.8,70.5
2012-07-12,NaN,71.1,66.9,66.7,77.8,69.8
2012-07-13,NaN,72.2,70.4,NaN,74.8,72.0
2012-07-14,NaN,67.6,71.3,61.9,71.4,69.3
2012-07-15,58.5,65.2,67.4,63.3,68.0,66.2
2012-07-16,60.9,66.7,68.6,61.2,68.4,67.0
2012-07-17,60.9,66.5,67.3,62.8,72.6,66.5
2012-07-18,60.1,64.7,66.9,61.9,75.0,66.9
...,...,...,...,...,...,...
2019-03-23,38.6,41.1,40.1,41.2,38.9,38.2
2019-03-24,36.2,42.2,43.8,40.8,44.0,43.3
2019-03-25,38.6,44.1,42.0,43.0,43.9,42.9
2019-03-26,32.4,36.1,37.8,35.5,37.5,35.8
2019-03-27,28.9,34.2,37.6,32.6,36.9,34.7
2019-03-28,29.1,33.8,38.2,33.2,37.7,34.7
2019-03-29,30.6,36.5,38.3,35.1,37.8,36.4
2019-03-30,34.8,40.1,40.6,38.4,39.0,38.6
2019-03-31,35.2,40.1,41.5,39.1,41.5,40.5
2019-04-01,37.0,40.8,42.7,40.3,42.1,40.2
2019-04-02,38.3,43.7,44.4,42.4,45.2,43.5
2019-04-03,38.3,43.5,46.9,42.1,46.9,45.1
2019-04-04,38.6,43.8,46.5,42.6,46.9,44.8
2019-04-05,34.8,40.4,45.5,39.5,44.9,42.7
2019-04-06,34.7,40.7,45.0,38.3,44.8,43.0
2019-04-07,34.9,39.6,43.9,38.1,43.9,41.4
2019-04-08,36.4,38.2,41.7,40.1,41.5,39.0
2019-04-09,30.6,35.8,41.4,34.4,41.3,38.8
2019-04-10,28.4,35.6,40.6,33.3,40.2,38.0
2019-04-11,28.9,36.8,41.2,34.6,38.7,37.2
2019-04-12,32.4,39.4,42.6,37.5,42.8,41.1
2019-04-13,32.7,39.2,44.8,37.1,44.4,41.9
2019-04-14,28.6,35.2,40.8,33.2,40.4,37.9
2019-04-15,32.4,38.1,41.9,36.5,41.2,38.9
2019-04-16,35.4,42.5,46.6,40.0,46.2,44.5
2019-04-17,40.4,46.4,47.2,45.0,48.3,47.3
2019-04-18,51.7,55.4,54.1,55.9,59.3,55.6
2019-04-19,43.2,48.8,53.4,47.9,53.1,50.5
2019-04-20,37.1,43.4,48.6,41.8,48.1,45.7
2019-04-21,38.7,42.2,42.9,42.0,43.6,42.8

In [104]:
# Monthly Max by Station
temp_monthly_mean = temp.groupby(pd.Grouper(freq='M')).mean().round(1)

In [106]:
# strip out max and min
temp_monthly_mean = temp_monthly_mean[[
    'Outside Temperature Baldy Summit (°F)',
    'Outside Temperature Baldy Draw (°F)',
    'Outside Temperature Sanfoin Bench (°F)',
    'Outside Temperature South Baldy (°F)',
    'Outside Temperature Orchard House (°F)',
    'Outside Temperature Indian Ridge (°F)',
 ]
]

In [108]:
# start with mean for the month of daily average
output = 'output/orchard_house-temp_monthly_mean.csv'
temp_monthly_mean.to_csv(output)